
h1{
    text-align: center
}

#logo{
    margin: 1em auto;
    display: block;
    width: 40%;
}

.logitos{
    cursor: pointer;
    width: 2em;
}

#img_cafe{
    width: 100%;
    margin: 0 auto;
    display: block;
}